<div id="background-about">
  <div class="name">Rebecca (Becka) Hsiao<h3>Web Developer & Software Engineer</h3></div>
  <div class="row">
      <div class="content">
        <div id="me-about"></div>
        <div class="info">
          <p>An ambitious, team-oriented individual with morals and personality</p>
        </div>
      </div>
  </div>
  <div class="row">
  	<h2>about me</h2>
    <div class="block">
        <p>I am a freelancer who recently graduated from UC Berkeley! Although I studied nutrition for most of my college, there has been various different steps that brought me to want to be a software engineer. </p>
	</div>
    <div class="block">
        <p>After my first coding class at UC Berkeley, I thought engineer is the last path for me: why am I spending so much time learning these theories and making minesweeper? However, after interning at Eatsa, a food tech startup, my opinion of CS started to change. Seeing how codes can manipulate so much data - real data that affects real consumers - suddenly just made me understand the impact of computer science on everyday human lives. </p>
	</div>
    <div class="block">
        <p>I really want to help this society advance to the next level and make people's lives easier, with my unwavering will and education. I firming believe data science and AI will shape the future and so I do want to jump on board and be part of this movement. However, I want to also explore the unknown. </p>
	</div>
    <div class="block">
        <p>My rigorous academic coursework, work experiences, and executive positions have provided me with the necessary leadership experience, teamwork skills, and motivation to succeed. I look forward to continuing my education in computer science and pursuing potential career opportunities where I can put my skills to use.</p>
    </div>
  </div>
  <div class="row">
    <h2>accomplishments</h2>
    <div class="block">
      <p>Designed one of Eatsa's company t-shirt</p>
      <p>Learned Japanese and Chinese in 1 year</p>
      <p>Self Taught Web Development</p>
      <p>Made 100+ sushi in one hour</p>
      <p>successfully started a mosh pit</p>
      <p>organized a 1000+ attendee event</p>
      <p>trained new employees</p>
      <p>High School Valedictorian </p>
      <p>Helped discovered new neurotransmitter</p>
    </div>
  </div>
  <div class="row">
    <h2>philosophy</h2>
    <div class="block">
      <p>Being ambitious is great! As long as you back it up with work.</p>
      <p>Go to concerts.</p>
      <p>Everyone should own at least some stocks.</p>
      <p>People should want to do the best they can in their jobs to help contribute to society</p>
      <p>There doesn't have to be a separation between work and life. Just find a job that you love and it is life.</p>
    </div>
  </div>
  <div class="footer">
    <div class="footer-links">
      <p><a href="<%= asset_path('RebeccaElliceHsiaoResume.pdf') %>" download>resume</a></p>
      <p><a href="mailto:contact@becka.space">contact@becka.space</a></p>
      <p>310-531-6207</p>
    </div>
  </div>
</div>
