<div id="background-home">

  <div class="name">Rebecca (Becka) Hsiao<h3>Web Developer & Software Engineer</h3></div>

  <div class="row">
      <div class="content">
        <div id="me-home"></div>
        <div class="info">
          <p>A shy, quadrilingual, mad scientist / programmer, and I'm going to change the world!</p>
        </div>
      </div>
  </div>
 <div class="row">
  <div class="tricks">
    <div class="skills">
      <div class="a">
        <p>Ruby on Rails</p>
        <p class="lvl">Experienced</p>
      </div>
      <div class="b">
        <div class="time ninety"></div>
      </div>
    </div>
    <div class="skills">
      <div class="a">
        <p>HTML/CSS</p>
        <p class="lvl">Experienced</p>
      </div>
      <div class="b">
        <div class="time eighty"></div>
      </div>
    </div>
    <div class="skills">
      <div class="a">
        <p>Javascript</p>
        <p class="lvl">Experienced</p>
      </div>
      <div class="b">
        <div class="time seventy"></div>
      </div>
    </div>
    <div class="skills">
      <div class="a">
        <p>SQL</p>
        <p class="lvl">Experienced</p>
      </div>
      <div class="b">
        <div class="time sixty"></div>
      </div>
    </div>
    <div class="skills">
      <div class="a">
        <p>Python</p>
        <p class="lvl">Exposed</p>
      </div>
      <div class="b">
        <div class="time forty"></div>
      </div>
    </div>
    <div class="skills">
      <div class="a">
        <p>PHP</p>
        <p class="lvl">Exposed</p>
      </div>
      <div class="b">
        <div class="time thirty"></div>
      </div>
    </div>
    <div class="skills">
      <div class="a">
        <p>Java</p>
        <p class="lvl">Exposed</p>
      </div>
      <div class="b">
        <div class="time thirty"></div>
      </div>
    </div>
    <div class="skills">
      <div class="a">
        <p>Swift</p>
        <p class="lvl">Exposed</p>
      </div>
      <div class="b">
        <div class="time thirty"></div>
      </div>
    </div>
    <div class="skills">
      <div class="a">
        <p>AngularJs</p>
        <p class="lvl">Exposed</p>
      </div>
      <div class="b">
        <div class="time thirty"></div>
      </div>
    </div>
    <div class="skills">
      <div class="a">
        <p>React</p>
        <p class="lvl">Exposed</p>
      </div>
      <div class="b">
        <div class="time twenty"></div>
      </div>
    </div>
    <div class="skills">
      <div class="a">
        <p>Shell</p>
        <p class="lvl">Experienced</p>
      </div>
      <div class="b">
        <div class="time sixty"></div>
      </div>
    </div>
    <div class="skills">
      <div class="a">
        <p>GitHub</p>
        <p class="lvl">Experienced</p>
      </div>
      <div class="b">
        <div class="time sixty"></div>
      </div>
    </div>
    <div class="skills">
      <div class="a">
        <p>Matlab</p>
        <p class="lvl">Experienced</p>
      </div>
      <div class="b">
        <div class="time fifty"></div>
      </div>
    </div>
    <div class="skills">
      <div class="a">
        <p>VBA Macro</p>
        <p class="lvl">Experienced</p>
      </div>
      <div class="b">
        <div class="time fifty"></div>
      </div>
    </div>
  </div>
 </div>
 <div class="head">Experiences</div>
  <div class="row hidden-xs hidden-sm">
    <div class="col-1-3 stove">
      <div class="title">Software Engineer / Web Developer</div>
      <div class="cover">
        <a href="experience/#Freelance" class="card-link"></a>
        <div class="title">Freelancer</div>
        <div class="stoveBreak"></div>
        <div class="title">2017+</div>
      </div>
    </div>
    <div class="col-1-3 stove">
      <div class="title">HTML/CSS Tutor</div>
      <div class="cover">
        <a href="experience/#tutor" class="card-link"></a>
        <div class="title">Private Tutor</div>
        <div class="stoveBreak"></div>
        <div class="title">2017+</div>
      </div>
    </div>
    <div class="col-1-3 stove">
      <div class="title">Eatsa</div>
      <div class="cover">
        <a href="experience/#eatsa" class="card-link"></a>
        <div class="title">Junior Researcher</div>
        <div class="stoveBreak"></div>
        <div class="title">2016-2017</div>
      </div>
    </div>
  </div>
  <div class="row hidden-md hidden-lg">
    <div class="stove">
      <div class="title">Software Engineer / Web Developer</div>
        <a href="experience/#Freelance" class="card-link"></a>
    </div>
    <div class="stove">
      <div class="title">HTML/CSS Tutor</div>
        <a href="experience/#tutor" class="card-link"></a>
    </div>
    <div class="stove">
      <div class="title">Eatsa</div>
        <a href="experience/#eatsa" class="card-link"></a>
    </div>
  </div>
  <!-- </div> -->

  <div class="head">projects</div>
  <div class="row hidden-xs hidden-sm">
  	<a href="http://www.spacearound.pw/" target="_blank">
    <div class="dot l">
    	<div>
		<p>SPACEAROUND</p>
		<p class="fadetext">Chat, Facebook Login, Googlemap</p>
		</div>
    </div>
    </a>
    <a href="http://www.questboard.website/" target="_blank">
    <div class="dot r">
    	<div>
		<p>QUESTTHEBOARD</p>
		<p class="fadetext">Scrapping, AJAX/DOM</p>
		</div>
    </div>
	</a>
	<a href="http://aroundthecorner.me/" target="_blank">
    <div class="dot l">
    	<div>
		<p>AROUNDTHECORNER</p>
		<p class="fadetext">Calendar, Mobile Responsive, Mailer</p>
		</div>
    </div>
    </a>
  </div>
  <div class="row hidden-md hidden-lg">
    <a href="http://www.spacearound.pw/" target="_blank">
    <div class="dot">
      <div>
    <p>SPACEAROUND</p>
    <p class="fadetext">Chat, Facebook Login, Googlemap</p>
    </div>
    </div>
    </a>
    <a href="http://www.questboard.website/" target="_blank">
    <div class="dot">
      <div>
    <p>QUESTTHEBOARD</p>
    <p class="fadetext">Scrapping, AJAX/DOM</p>
    </div>
    </div>
  </a>
  <a href="http://aroundthecorner.me/" target="_blank">
    <div class="dot">
      <div>
    <p>AROUNDTHECORNER</p>
    <p class="fadetext">Calendar, Mobile Responsive, Mailer</p>
    </div>
    </div>
    </a>
  </div>
  <div class="footer">
    <div class="footer-links">
      <p><a href="<%= asset_path('RebeccaElliceHsiaoResume.pdf') %>" download>resume</a></p>
      <p><a href="mailto:contact@becka.space">contact@becka.space</a></p>
      <p>310-531-6207</p>
    </div>
  </div>
</div>

