
<div id="background-skill">

	<div class="name">Rebecca (Becka) Hsiao<h3>Web Developer & Software Engineer</h3></div>
  <div class="row">
  <div class="content">
    <div id="me-skill"></div>
    <div class="info">
      <p>An individual with many hardcore skills: programming, car maintenance, moshing, and more!</p>
    </div>
  </div>
  </div>
  <div class="row">
    <h2>hard skills</h2>
    <div class="block">
      <p><strong>Software Engineer</strong></p>
      <p>Ruby on Rails</p>
      <p>Javascript</p>
      <p>HTML</p>
      <p>CSS</p>
      <p>SQL</p>
      <p>Swift</p>
      <p>Java</p>
      <p>Python</p>
      <p>Git</p>
      <p>Github</p>
      <p>Web Deployment</p>
      <p>React</p>
      <p>Matlab</p>
      <p>XHP/PHP</p>
      <p>Bootstrap</p>
      <p>Major Algorithms</p>
      <p>Data Structures(links, hash map, trees, etc.)</p>
    </div>
    <div class="block">
    	<p><strong>Languages</strong></p>
    	<p>Chinese</p>
    	<p>Japanese</p>
    	<p>Spanish</p>
    </div>
    <div class="block">
    	<p><strong>Softwares</strong></p>
    	<p>Excel</p>
    	<p>PowerPoint</p>
    	<p>Words</p>
    	<p>Photoshop</p>
    	<p>Adobe After Effects</p>
    	<p>Adobe Premiere Pro</p>
    	<p>Final Cut Pro X</p>
    </div>
  	<div class="block">
  		<p><strong>Research Skills</strong></p>
  		<p>Systematic Review</p>
  		<p>Research Paper</p>
  		<p>Microcope</p>
  		<p>Stains</p>
  		<p>Chromotography</p>
  		<p>TLC</p>
  		<p>NMR</p>
  	</div>
    <div class="block">
    	<p><strong>Others</strong></p>
    	<p>Car Maintenance</p>
    	<p>Electric Guitar</p>
    	<p>Acoustic Guitar</p>
    	<p>Violin</p>
    	<p>Bass</p>
    	<p>Drum</p>
    	<p>Long Distance Running</p>
      <p>Eat 5lb of Korean BBQ in one sitting</p>
    </div>
  </div>
  <div class="row">
  	<h2>soft skills</h2>
  	<div class="block">
  		<p><strong>Consumer Science</strong></p>
  		<p>Helped conduct research on consumer preference at Eatsa</p>
  	</div>
  	<div class="block">
  		<p><strong>Organization Skills</strong></p>
  		<p>Learned group organizational skills from various group projects.</p>
  		<p>Helped plan an event called Jesus in Berkeley. This event is the biggest Christian annual event on the campus, with usually over 1000 students attending.</p>
  		<p>Planned retreats for different clubs.</p>
  	</div>
  	<div class="block">
  		<p><strong>Communication Skills</strong></p>
  		<p>Helped my uncle sell essential oil during the summer of 2015.</p>
  		<p>Learned communication skills from working in teams at work and personal projects</p>
  		<p>Learned communication skills from various university related group projects.</p>
  	</div>
  	<div class="block">
  		<p><strong>Leadership Skills</strong></p>
  		<p>Team lead in personal projects</p>
  		<p>Lead researcher at the UC:Berkeley NST Lab</p>
  		<p>SGL of AACF</p>
  	</div>
  	<div class="block">
  		<p><strong></strong></p>
  		<p></p>
  		<p></p>
  	</div>
  </div>
  <div class="footer">
    <div class="footer-links">
      <p><a href="<%= asset_path('RebeccaElliceHsiaoResume.pdf') %>" download>resume</a></p>
      <p><a href="mailto:contact@becka.space">contact@becka.space</a></p>
      <p>310-531-6207</p>
    </div>
  </div>
</div>
